#current-user-logo {
  position: relative;
  top: 8px;
}
.map_container {
  width: 415px;
  height: 265px;
}
.gmaps4rails_map {
  width: 400px;
  height: 250px;
}
#user-photos-container {
  margin-top: 20px;
}